/*headerbild*/
img {
    width: 100%; 
} 

/*navigering*/
h1 {
    color:beige; 
    margin-left:20px;  
}

nav {
    background-color: rgb(59, 80, 54); 
    padding: 0.5%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    width:99%;
    opacity: 0.90; 
}

#navList {
    list-style-type: none;
    padding:1%;   
    margin-top:0px;
    margin-right:20px;  
    white-space: nowrap;
} 

#navList li {
    display: inline;
    color:#ffff; 
    margin:15px; 
} 

a {
    text-decoration:none; 
    color:beige; 
    padding: 2%; 
    font-weight: bold;
    font-size: 1.5em;
}