<h2>Tillgängliga kurser</h2>

<ul>
    <li><a routerLink = "/courses" routerLinkActive="active">Kurslista</a></li>
    <li><a routerLink="/ramschema" routerLinkActive="active">Valda kurser</a></li>
</ul>

<label for="filter">Filtrera kurser:</label>
<input type="text" id="filter" [(ngModel)]="filterValue" (input)="onFilterChange()">

<label for="subject">Välj ämne:</label>
<select id="subject" [(ngModel)]="selectedSubject" (change)="onSubjectChange()">
    <option value="Alla">Alla</option>
    <option *ngFor="let subject of onlySubjects">{{subject}}</option>
</select>

<p>Antal kurser som visas: {{filteredCourses.length}}</p>

<table>
    <thead>
        <tr>
            <th (click)="sortCourseCode()">Kurskod</th>
            <th (click)="sortCourseName()">Namn</th>
            <th (click)="sortCoursePoints()">Poäng</th>
            <th (click)="sortCourseSubject()">Ämne</th>
            <th>Kursplan</th>
        </tr>
    </thead>

    <tbody *ngFor="let course of filteredCourses">
        <tr>
            <td>{{ course.courseCode }} </td>
            <td>{{ course.courseName }}</td>
            <td>{{ course.points }} </td>
            <td>{{ course.subject }}</td>
            <td><a href="{{ course.syllabus }}">Kursplan</a></td>
            <button>Välj</button>
        </tr>
    </tbody>
</table>

