<h2>Tillgängliga kurser</h2>

<label for="filter">Filtrera kurser:</label>
<input type="text" id="filter">

<label for="subject">Välj ämne:</label>
<select id="subject" [(ngModel)]="selectedSubject" (change)="onSubjectChange()">
    <option>Välj ämne</option>
    <option *ngFor="let subject of onlySubjects">{{subject}}</option>
</select>

<table>
    <thead>
        <tr>
            <th>Kurskod</th>
            <th>Namn</th>
            <th>Poäng</th>
            <th>Ämne</th>
            <th>Kursplan</th>
        </tr>
    </thead>

    <tbody *ngFor="let course of subjectCourses">
        <tr>
            <td>{{ course.courseCode }} </td>
            <td>{{ course.courseName }}</td>
            <td>{{ course.points }} </td>
            <td>{{ course.subject }}</td>
            <td><a href="{{ course.syllabus }}">Kursplan</a></td>
        </tr>
    </tbody>
</table>

