/* style som gäller alla sidor */

body{
    background-color: rgb(255, 255, 255);
    font-family:Georgia, 'Times New Roman', Times, serif; 
    margin: 0px;  
}

main {
    width: 980px; 
    margin: 0 auto;
}

p {
    font-size: 1.25em;
}

h2 {
    font-size: 1.5em;
}

td button {
    border-radius: 4px;
    background-color: rgb(47, 77, 39);
    color:beige; 
    padding: 5px 24px;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;  
    border: 1px solid #808080; 
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover {
    background-color: rgba(44, 59, 40, 0.61); 
    color: #000000;
    cursor: pointer;
} 

button:focus { /*Knappen stannar i hiver stylen för att visa att den är tryckt på*/
    background-color: rgba(44, 59, 40, 0.61); 
    color: #000000;
}