/*Tabell*/
table {
    border-collapse: collapse;
    font-size: 1.25em;
}

tr {
    border-bottom: 1px inset #b4b4b48f;
}

td, th {
    text-align: left;
    padding: 15px; 
}

#deleteBtn {
    background-color: rgb(182, 0, 0);
    white-space: nowrap;/*för att texten ska hålla sig till en rad*/
}

#deleteBtn:hover {
    background-color: rgba(182, 0, 0, 0.61);
} 

/*responsivitet*/
@media (max-width: 1150px) {
    /*tabellen KANSKE FLYTTAS SEN*/
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        display: none;
    }

    tr {
        margin-bottom: 15px;
    }

    td {
        text-align: right;
        padding-left: 20%;
        position: relative;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 30%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }

    #table-wrapper{
        width:90vw;  
    }
}