<h2>Mina kurser</h2>
<div id="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Kurskod</th>
                <th>Namn</th>
                <th>Poäng</th>
                <th>Ämne</th>
                <th>Kursplan</th>
                <th>Ta bort</th>
            </tr>
        </thead>

        <tbody *ngFor="let course of courseList">
            <tr>
                <td data-label="Kurskod">{{ course.courseCode }} </td>
                <td data-label="Namn">{{ course.courseName }}</td>
                <td data-label="Poäng">{{ course.points }} </td>
                <td data-label="Ämne">{{ course.subject }}</td>
                <td data-label="Kursplan"><a href="{{ course.syllabus }}">Kursplan</a></td>
                <td data-label=""><button id="deleteBtn" (click)="removeCourse(course)">Ta bort</button></td>
            </tr>
        </tbody>
    </table>
</div>

<p>Antal poäng: {{sumOfPoints}}</p>