/*Tabell*/
table {
    border-collapse: collapse;
    font-size: 1.25em;
}

tr {
    border-bottom: 1px inset #b4b4b48f;
}

td, th {
    text-align: left;
    padding: 15px; 
}

#deleteBtn {
    background-color: rgb(182, 0, 0);
    white-space: nowrap;/*för att texten ska hålla sig till en rad*/
}

#deleteBtn:hover {
    background-color: rgba(182, 0, 0, 0.61);
}