<h2>Mina kurser</h2>

<table>
    <thead>
        <tr>
            <th>Kurskod</th>
            <th>Namn</th>
            <th>Poäng</th>
            <th>Ämne</th>
            <th>Kursplan</th>
        </tr>
    </thead>

    <tbody *ngFor="let course of courseList">
        <tr>
            <td>{{ course.courseCode }} </td>
            <td>{{ course.courseName }}</td>
            <td>{{ course.points }} </td>
            <td>{{ course.subject }}</td>
            <td><a href="{{ course.syllabus }}">Kursplan</a></td>
            <td><button (click)="removeCourse(course)">Ta bort</button></td>
        </tr>
    </tbody>
</table>

<p>Antal poäng: {{sumOfPoints}}</p>